@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AntaRegular";
  src: url("./fonts/Anta-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "OjujuRegular";
  src: url("./fonts/MPLUS1Code-Regular.ttf");
}

.anta-regular {
  font-family: "AntaRegular";
}

.ojuju {
  font-family: "OjujuRegular";
}

.test {
  font-family: "Test";
}

li::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0%;
  background: rgb(255, 254, 254);
  transition: width 0.2s;
}

li:hover::after {
  width: 100%;
}

button {
  background-color: #373622;
  transition: background-color 0.5s;
  color: #dad8cc;
  border: 1px solid black;
}

button:hover {
  background-color: white;
  color: black;
}

.arrow-hover {
  background-color: transparent;
  transition: background-color 0.5s;
}

.arrow-hover:hover {
  background-color: rgb(255, 255, 255);
}

.blink {
  animation: blink 1.5s linear infinite;
}
@keyframes blink { 
  0% { 
      opacity: 0; 
  } 

  50% { 
      opacity: 0.8; 
  } 

  100% { 
      opacity: 0; 
  } 
} 
::-webkit-scrollbar {
  width: 10px;
  display:  none;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(111, 145, 181, 0.5);
  border-radius: 6px;
}
/* 
.progress-bar {
  position: fixed;
  top: 0;
  right: 8px;
  z-index: 99999 !important;
  width: 10px;
  height: 100%;
  border-radius: 8px;
  background:  rgb(144, 142, 142) !important;
  transform-origin: 0%;
} */