@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroud-color: rgb(255, 255, 255);
}

.container {
  max-width: 1240px;
  @apply mx-auto;
  @apply px-4;
}
body {
  background-color: #0b0b0b;
}
/* 
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  animation: 3s ease-in-out 0s 1 slideInFromLeft;
} */

html::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.font-name {
  font-family: Gilda Display;
}

.font-Acme {
  font-family: Acme;
}

.main-font {
  font-weight: bolder;
  font-size: 8rem;
  font-family: Gilda Display;
}

.change-pfp{
  background-image: url("/pfp3.png");
  width: 200;
  height: 200;
}


.main-pfp{
  background-image: url("/pfp.png");
  border-radius: 100%;
}
