@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroud-color: rgb(27, 26, 26);
}
/* * {
  cursor: none;
} */

body {
  height: 100vh;
  background-color: var(--backgroud-color);
}

.font-name {
  font-family: monospace;
}

div.type-effect {
  font-size: 70px;
  color: white;
}

.font-header {
  font-size: 20px;
  font-family: monospace;
}

.vl {
  border-left: 2px solid rgb(255, 255, 255);
  height: 100px;
}
